# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist/
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.sync.ffs_db

# WebIDE
.*/APIExternalProducer.js
.*/extended_runnable_file.html
.*/fioriHtmlRunner.html
.*/mock_preview_sapui5.html
/webapp/visual_ext_index.html
APIExternalProducer.js
AppVariant_index.html
changes_preview.js
extended_runnable_file.html
fioriHtmlRunner.html
mock_preview_sapui5.html
sap-ui-cachebuster-info.json
UIAdaptation_index.html
visual_ext_index.html
